/Users/sampatankar/Desktop/Coding/ElevenDays/Phase2/example_ml_folderstructure/Thakur_exampleMLFolderStructure/input/mnist_train.csv
/Users/sampatankar/Desktop/Coding/ElevenDays/Phase2/example_ml_folderstructure/Thakur_exampleMLFolderStructure/input/mnist_test.csv